<!-- <h1> {{title}} </h1>
{{clock}}  -->

<div class="digitalClock">
    <div class="dayTitle">
        <span> {{day}} </span>
        <span> {{dnum}} </span>
        <span> {{month}} </span>
        <span> {{year}} </span>
         
    </div>
    <div class="digitalTime">
        <div>{{hour}} : &nbsp; </div>
        <div>{{minute}} : &nbsp;</div>
        <div>{{second}} : &nbsp;</div>
        <div class="ampm">{{ampm}}</div>
    </div>
    <div class="quote"><h3> Keep moving forward </h3></div>
</div>


